<mat-toolbar class="toolbar">
    <section>
        <div class="example-button-row">
            <a mat-button routerLink="/restrito/lista">Listar Produtos</a>
            <a mat-button routerLink="/restrito/cadastro">Cadastrar Produto</a>
            
        </div>
    </section>
    
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button
with share icon" (click)="logout()">
                <span class="material-icons">logout</span>
            </button>

</mat-toolbar>

