main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 20px;
    font-size: 36px;
}

#section-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    padding: 20px;
    background: radial-gradient(circle at 0% 100%,
            #11630673 4%,
            #087904e5 30%,
            #11ad0ce5 62%,
            #2fe629e5 85%,
            #32cf02);
    border-radius: 30px;
    box-shadow: 0 10px 30px 0 black;
    margin: 50px;
}

form{
    width: 100%;
}

label{
    font-size: 22px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 20px;
    background: transparent;
}

.btn{
    font-size: 22px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.btn:hover {
    border-radius: 20px;
    background-color: #2e7d32;
    color: white;
    box-shadow: 0 5px 10px 0 black;
}