<main>
    <section id="sectionLogin">

        <form class="custom" class="row g-3">

            <div class="col-auto" class="custom">
                <h1 class="text-center">Login</h1>
                <label for="staticUsuario" class="visually-hidden">Usuário</label>
                <input type="text" class="form-control" id="staticUsuario" placeholder="email@exemplo.com">
                <br>
                <label for="inputPassword2" class="visually-hidden">Senha</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Senha">
                <br>
                
                    <button type="submit" class="btn" class="customBtn">Login</button>
                
            </div>
        </form>
    </section>

</main>