main {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 0% 100%,
            #11630673 4%,
            #263238 30%,
            #d84315 62%,
            #11ad0ce5 85%,
            #01579b);
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    flex-direction: column;
    padding: 20px;
    background: radial-gradient(circle at 0% 100%,
            #11630673 4%,
            #087904e5 30%,
            #11ad0ce5 62%,
            #2fe629e5 85%,
            #32cf02);
    border-radius: 30px;
    box-shadow: 0 10px 30px 0 black;
}

#login h3 {
    font-size: 28px;

}

.btnLogin {
    border-radius: 20px;
    background: transparent;

}

.btn {
    font-size: 24px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.btn:hover {
    border-radius: 20px;
    background-color: #2e7d32;
    color: white;

    box-shadow: 0 5px 10px 0 black;
}