<main>
    <section id="login">

        <h3>Login</h3>

        <mat-form-field appearance="fill">
            <mat-label>Usuário</mat-label>
            <input matInput id="usuario" type="text" class="validate">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput id="senha" type="password" class="validate">
        </mat-form-field>

        <div class="btnLogin">
            <button type="submit" class="btn">Entrar</button>
          </div>
    </section>

  
</main>