<footer class="footer">


    <a class="footer-brand" href="#">
        <img src="/assets/img/Logo4.png" alt="Logo game mania" width="120" height="98">
    </a>

    <div class="contatos">
        <p>E-mail: <a href="#">gamemania@gamemania.com</a></p>
        <p>Endereço: Lorem ipsum</p>
        <p>Telefone: +55 (xx)9 9999-9999</p>

        <p class="text-center" style="font-size: 11px">Desenvolvido por Levisgton Eustáquio &copy</p>

    </div>


    <div class="containerFooter">
        <ul class="footerList" style="list-style: none;">
            <li class="footer-item">
                <a class="footer-link" href="#"><img src="/assets/img/whatsapp-icon.png" alt="" width="30"
                        height="30"></a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="#"><img src="/assets/img/Instagram-Icon.png" alt="" width="30"
                        height="30"></a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="#"><img src="/assets/img/facebook-icon.png" alt="" width="30"
                        height="30"></a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="#"><img src="/assets/img/linkedin-icon.png" alt="" width="30"
                        height="30"></a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="#"><img src="/assets/img/yt-icon.png" alt="" width="30" height="30"></a>
            </li>
        </ul>
    </div>
</footer>